CREATE TABLE IF NOT EXISTS global_settings (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), key TEXT UNIQUE NOT NULL, value TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL, updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL); CREATE POLICY \
Public
Read
Access
Settings\ ON global_settings FOR SELECT USING (true); CREATE POLICY \Admin
Manage
Settings\ ON global_settings FOR ALL USING (auth.role() = 'authenticated'); ALTER TABLE global_settings ENABLE ROW LEVEL SECURITY; INSERT INTO global_settings (key, value) VALUES ('top_bar_text', 'FRETE GRÁTIS PARA TODA MANAUS NAS COMPRAS ACIMA DE R$ 200,00') ON CONFLICT (key) DO NOTHING;
